*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}

.container-St{
    display:flex;
      margin: -10px ; 
    border-radius: 10px; 
   
  

} 
main{
    width: 100%; 
     padding:0 px;
}
.sidebar_AT{
    background: var(--beige) ;
    color: var(--blue);
    height: 200vh;
    width: 150px;
    transition: all 0.5s;
    text-decoration: none;
    position: absolute;
   
}
.top_section_AT{
    display: flex;
    align-items:center;
     padding:20px 15px; 
}
.logo_AT1{
    font-size: 20px;
}
.bars_AT{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.bars_AT:hover{
  cursor: pointer;
}
.link1_AT{
    display: flex;
    color: var(--blue);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link1_AT:hover{
    background:var(--white);
    color: #000;
    transition: all 0.5s;
}
.active_AT{
    background:var(--white);
    color: #000;
}
.icon_AT, .link_text_AT{
    font-size: 20px;
  
}
a{
  font-size: 20px;
  text-decoration: none;}

