*{
    /* margin:0;
    padding:0; */
    text-decoration: none;
}
.container{
    display:flex;
    margin: -10px ;
    border-radius: 10px;

}
main{
    width: 100%; 
     padding:0 px;
}
.sidebar{
    background: var(--beige) ;
    color: var(--blue);
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    text-decoration: none;
}
.top_section{
    display: flex;
    align-items:center;
     padding:20px 15px; 
}
.logo{
    font-size: 20px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.bars:hover{
  cursor: pointer;
}
.link{
    display: flex;
    color: var(--blue);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:var(--white);
    color: #000;
    transition: all 0.5s;
}
.active{
    background:var(--white);
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
  
}
a{
  font-size: 20px;
  text-decoration: none;}

