:root {
  --blue: #5a7cbf;
  --beige: #d9d0a7;
  --white: #f2e6df;
  --red: #a63c24;
  --pink: #f28e85;
}
.tasks-title {
  color: var(--blue);
  font-weight: bold;
}
.student-tasks {
  
  border-radius: 10px 10px 0 0;
}
.student-tasks__container {

  border-radius: 10px;
}
.empty-poster {
  width: 20rem;
}
.task-table {
  border: var(--blue);
  border-radius: 10px;
  margin-left: 50px;
 
}
thead {
  font-weight: bold;
}
.btndetails{
  background-color: var(--blue);
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}


/* COLORS */
.bodymodal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.envelope {
  width: 224px;
  height: 224px;
  overflow: hidden;
  position: relative;
  transition: all ease;
  animation: tremble 1s infinite;
  scale:.7;
}
.envelope--base {
  top: 100px;
  z-index: 2;
  width: 220px;
  height: 121px;
  position: relative;
  border-radius: 4px;
  border: 2px solid #00000024;
  background-color: #ed4135;
}
.envelope__tab {
  left: 28px;
  z-index: 1;
  bottom: 26px;
  width: 212px;
  height: 140px;
  position: absolute;
  transform: rotateZ(45deg);
  border-top-left-radius: 30px;
  background-color: #f34e43;
  border: 2px solid #00000024;
}
.envelope__letter {
  left: 29px;
  z-index: 3;
  width: 158px;
  bottom: 17px;
  height: 121px;
  cursor: pointer;
  font-size: 16px;
  font-style: oblique;
  padding: 12px 18px;
  border-radius: 8px;
  position: absolute;
  box-sizing: border-box;
  background-size: cover;
  color: #a59090;
  border: 1px solid #00000024;
  transition: all 0.6s linear 0.4s;
  background-image: url("https://i.pinimg.com/564x/03/c3/fe/03c3fe8f10c79787d45f0cff0bc7bb52.jpg");
}
.envelope__letter:hover {
  height: 170px;
  color: #4c4444;
}
.envelope__letter:before {
  content: "";
  height: 0;
  width: 6px;
  right: -34px;
  bottom: -17px;
  position: absolute;
  border-top: 56px solid transparent;
  border-left: 107px solid #f34e43;
  border-right: 107px solid #f34e43;
  border-bottom: 65px solid #ed4135;
}
.shadow {
  width: 230px;
  height: 30px;
  position: absolute;
  background-color: #75757524;
  border-radius: 50%;
  bottom: 26vh;
  animation: shadow 3s infinite;
}
@keyframes shadow {
  0% {
    width: 230px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 230px;
  }
}
@keyframes tremble {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}




